.app {
  min-height: 100vh;
  background: #f7f9fc;
  padding: 40px 20px;
}

.chat-container {
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(0, 31, 84, 0.12);
}

.chat-title {
  color: #082653;
  font-size: 32px;
  margin-bottom: 8px;
}

.chat-subtitle {
  color: #5f6f89;
  margin-bottom: 24px;
}

.chat-box {
  height: 80vh;
  border: 1px solid #dde5f0;
  border-radius: 16px;
  padding: 16px;
  background: #f9fbff;
  margin-bottom: 16px;
  overflow: hidden;
  overflow-y: scroll;
}

.message {
  max-width: 75%;
  padding: 12px 16px;
  margin-bottom: 12px;
  border-radius: 16px;
  line-height: 1.5;
}

.message.user {
  margin-left: auto;
  background: #0b3b75;
  color: white;
  border-bottom-right-radius: 4px;
}

.message.bot {
  margin-right: auto;
  background: #e9eef7;
  color: #10233f;
  border-bottom-left-radius: 4px;
}

.chat-form {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;
  padding: 6px;
  background: #ececec;
  border-radius: 999px;
}

.chat-form input {
  flex: 1;

  border: none;
  outline: none;
  background: transparent;

  padding: 10px 14px;
  font-size: 16px;
  color: #333;
}

.chat-form input::placeholder {
  color: #9a9a9a;
}

.chat-form button {
  border: none;
  outline: none;

  background: #5957ff;
  color: white;

  padding: 15px 30px;
  border-radius: 100px;

  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.chat-form button:hover {
  background: #4846e8;
}